@using System.Web.Mvc.Html
@using MvcJqGrid
@using MvcJqGrid.Enums
@using ProgramAssuranceTool.Helpers
@using ProgramAssuranceTool.ViewModels.Report
@model SearchCriteriaViewModel 

@{
    ViewBag.Title = "Dashboard Report";
}

<div class="page-header">
    <h1>Dashboard Report</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Search Criteria</h2>
    </div>
    @using (Html.BeginForm("Dashboard", "Report", FormMethod.Post, new { @id = "reportSearchForm", @class = "form-inline" }))
    {
        <div class="panel-body">
            @Html.Partial("RequiredFieldMessage")<br/>
            @Html.ValidationMessageSummary()

            <div class="row">
                <div class="col-xs-4">
                    <fieldset>
                        <legend>Search Type</legend>
                        <label for="AdvanceSearchType" class="pull-right">
                            <span>&nbsp;&nbsp;</span>
                            @Html.RadioButtonFor(r => r.IsAdvanceSearchType, true, new { @style = "width:30px;", @id = "AdvanceSearchType" })Advanced
                        </label>
                        <label for="BasicSearchType" class="pull-right">
                            @Html.RadioButtonFor(r => r.IsAdvanceSearchType, false, new { @style = "width:30px;", @id = "BasicSearchType" })Basic
                        </label>
                    </fieldset>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-6">
                    @Html.LabelForRequired(r => r.OrgCode, null, true)
                    @Html.TextBoxFor(r => r.OrgCode, new { @class = "form-control", @placeholder = "Please specify the Organisation" })
                </div>
                
                <div class="col-xs-6">
                    @Html.LabelFor(r => r.ESACode)
                    @Html.TextBoxFor(r => r.ESACode, new { @class = "form-control", @placeholder = "Select All ESAs" })
                </div>
            </div>
          
            <div class="row">
                <div class="col-xs-12">
                    @Html.LabelForRequired(r => r.ProjectID, null, true)
                    @Html.TextBoxFor(r => r.ProjectID, new { @class = "form-control", @placeholder = "Please specify the Project" })
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    @Html.LabelFor(r => r.SiteCode)
                    @Html.TextBoxFor(r => r.SiteCode, new { @class = "form-control", @placeholder = "Select All Sites" })
                </div>

                <div class="col-xs-6">
                    @Html.LabelForRequired(r => r.ProjectType, null, true)
                    @Html.EditorFor(r => r.ProjectType)
                </div>

                <div class="col-xs-6">
                    @Html.LabelFor(r => r.ContractType)
                    @Html.EditorFor(r => r.ContractType)
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    @Html.LabelFor(r => r.UploadDateFrom)
                    @Html.EditorFor(r => r.UploadDateFrom)
                </div>
                <div class="col-xs-6">
                    @Html.LabelFor(r => r.UploadDateTo)
                    @Html.EditorFor(r => r.UploadDateTo)
                </div>
            </div>

        </div>
        <div class="panel-footer clearfix">
            <div class="pull-left">
                @Html.ActionLink("Reset", "Dashboard", "Report", new { @class = "btn btn-lg btn-primary"})
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Search</button>
        </div>
    }
</div>

@{
    if (ViewBag.ModelIsValid && HttpContext.Current.Request.HttpMethod == "POST")
    {

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Search Result</h2>
    </div>
    
    <div id="gridResult">

        <div class="panel-body">
            
            @* Google API is not supported by framework team that's why this is disabled
            <div id="dashboardChart"  style="width: 900px; height: 500px;"></div>
            *@

            @*        
            <img src ="@Url.Action("GetDashboardPieChart", "Report")"  alt="This is the pie chart of dashboard figures" />
            *@

            @{
                var g= Html.Grid("DashboardGrid");
                g.SetCaption("Dashboard Report");
                g.AddColumn(new Column("OutcomeCode").SetLabel("Outcome Code").SetSortable(true).SetWidth(100).SetHidden(true));
                g.AddColumn(new Column("OutcomeDescription").SetLabel("Outcome Description").SetSortable(true).SetWidth(100));
                g.AddColumn(new Column("NumberOfReviews").SetLabel("Number of Reviews").SetWidth(100).SetAlign(Align.Right).SetFormatter(Formatters.Integer));
                g.SetUrl(Url.Action("DashboardGetData", "Report", new {Model.IsAdvanceSearchType, Model.OrgCode, Model.ESACode, Model.SiteCode, Model.ContractType, Model.UploadDateFrom, Model.UploadDateTo, Model.ProjectID, Model.ProjectType, Model.SortColumn, Model.SortBy}));
                g.SetHeight(CommonConstants.GridStandardHeight); // set this tall enough and you won't see the scroll bar
                g.SetAutoWidth(true); // force the grid to fit the width of the parent element
                g.SetRowNum(CommonConstants.GridStandardDoubleRows); // set the number of rows displayed initially
                g.SetRowList(new[] {20, 50, 100, 200}); // DR01039126 
                g.SetViewRecords(true); // display the total number of rows in the dataset
                g.SetPager("pager");
                g.SetHeaderTitles(true);
                g.SetSearchToolbar(false); // disable toolbar searching
                g.SetSearchOnEnter(false);
                g.SetSortOnHeaderClick(false);
                g.OnLoadComplete("pat.reportGridOnLoadComplete('DashboardGrid')");

                var gridString = AppHelper.WcagFixGrid(g, "DashboardGrid", "Dashboard Report");
                @Html.Raw(gridString)
            }
        </div>

        <div class="panel-footer clearfix">
            <div class="pull-left">
                <h3>Generate Printable Report</h3>
                @Html.ActionLink("PDF", "DashboardDownload", "Report", new { reportType = CommonConstants.Pdf, Model.IsAdvanceSearchType, Model.OrgCode, Model.ESACode, Model.SiteCode, Model.ContractType, Model.UploadDateFrom, Model.UploadDateTo, Model.ProjectID, Model.ProjectType, Model.SortColumn, Model.SortBy }, new { @class = "btn btn-sm btn-default" })
                @Html.ActionLink("Word", "DashboardDownload", "Report", new { reportType = CommonConstants.Word, Model.IsAdvanceSearchType, Model.OrgCode, Model.ESACode, Model.SiteCode, Model.ContractType, Model.UploadDateFrom, Model.UploadDateTo, Model.ProjectID, Model.ProjectType, Model.SortColumn, Model.SortBy }, new { @class = "btn btn-sm btn-default" })
                @Html.ActionLink("CSV", "DashboardDownload", "Report", new { reportType = CommonConstants.Csv, Model.IsAdvanceSearchType, Model.OrgCode, Model.ESACode, Model.SiteCode, Model.ContractType, Model.UploadDateFrom, Model.UploadDateTo, Model.ProjectID, Model.ProjectType, Model.SortColumn, Model.SortBy }, new { @class = "btn btn-sm btn-default" })
            </div>
        </div>

    </div>

    <div id="gridNoResult" class="hidden">
        <div class="panel-body">
            <div class="validation-summary-errors">
                <p>Data not found ! Please try again.</p>
            </div>
        </div>
    </div>

</div>

    }
} 
