<h2>Report List</h2>

<ul>
    <li>@Html.ActionLink("Compliance Risk Indicator", "Compliance", "Report")</li>
    <li>@Html.ActionLink("Site Visit", "SiteVisit", "Report")</li>
    <li>@Html.ActionLink("Finding Summary", "FindingSummary", "Report")</li>
    <li class="divider"></li>
    <li>@Html.ActionLink("Progress", "Progress", "Report")</li>
    <li>@Html.ActionLink("Dashboard", "Dashboard", "Report")</li>
    <li>@Html.ActionLink("Provider Summary", "ProviderSummary", "Report")</li>
    <li class="divider"></li>
    <li>@Html.ActionLink("Project Type", "ProjectType", "Report")</li>
</ul>
