@using ProgramAssuranceTool.Helpers
@model ProgramAssuranceTool.ViewModels.Sample.AppendViewModel

@{
    ViewBag.Title = "Append Review Data";
}

<div class="page-header">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Projects", "Index", "Project")</li>
        <li>@Html.ActionLink("Project Samples", "Details", "Project", new { id = Model.ProjectId, tabNo = CommonConstants.ProjectTab_Samples }, "")</li>
        <li>@Html.ActionLink( "Review List", "Details", "Upload", new { id = @Model.UploadId }, "" )</li>
        <li class="active">Append</li>
    </ol>          
    <h1>Append Upload Review Data - @Model.ProjectName </h1>
</div>

<p></p>
Select an Excel spreadsheet <b>CSV</b> file containing Review data with the standard columns, enter upload details and then hit the Append button. The Review data will be appended to Upload @Model.UploadId
<p></p>

<div class="panel panel-default col-lg-12 row">
    
    @Html.Hidden("unloadMessage", "Data has not been uploaded. If you proceed you will lose current changes.")

    @using (Html.BeginForm("Append", "upload", FormMethod.Post, new { id = "uploadAppendForm", name = "uploadAppendForm", enctype = "multipart/form-data" }))
    {
        <div class="panel-heading">
            <h1 class="panel-title">@Model.UploadName</h1>
        </div>
                
        <div class="panel-body">
            
            @Html.ValidationMessageSummary()   

            <div class="form-group">
                @Html.LabelFor( model => model.SourceFile )
                <input type="file" name="Upload.SourceFile" id="source-file" />
            </div>
            
            <fieldset><legend>Upload Type</legend><br/>
                <div class="form-group indented">
                    @Html.CheckBoxFor( model => model.IncludesOutcomes ) &nbsp;&nbsp; Includes Outcomes            
                </div>
                <div class="form-group indented">
                    @Html.CheckBoxFor( model => model.AdditionalReview ) &nbsp;&nbsp; Additional Review            
                </div>    
                <div class="form-group indented">
                    @Html.CheckBoxFor( model => model.OutOfScope ) &nbsp;&nbsp; Out of Scope
                </div>   
            </fieldset>

        </div>

        @Html.HiddenFor( model => model.UploadId )

        <div class="panel-footer">
            <div class="row indented">
                <button id="submit-button" type="submit" class="btn btn-lg btn-primary">Append</button>
            </div>
            <br/>
        </div>

    }

</div>		

