@model System.Collections.Generic.IEnumerable<Tuple<string, Type>>

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Here's the title@* JS will fill this in *@</h4>

    </div>
    <div class="modal-body">


    @foreach(var tup in Model)
    {                     
    <label for="@tup.Item1">@tup.Item1</label>
        if (tup.Item2 == typeof(string))
        {
            <input type="email" class="form-control" id="@tup.Item1" data-bind="value: @tup.Item1" />
        }
        else if (tup.Item2 == typeof(DateTime))
        {
            <input type="datetime" class="form-control" id="@tup.Item1" data-bind="value: @tup.Item1" />
        }
    }


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary gridEditModalSaveButton">Save First changes</button>

    </div>

</div>

